<% include ../cfg/envpath.ejs %>

<div class="aidai_footer">
	<div class="aidai_footer_box">
		<div class="aidai_footer_up ofh">
			<div class="aidai_footer_up_left f-fl ofh">
				<div class="about_us f-fl">
					<h4><span class="icon icon-about" style="position: absolute; display: block; left: 0; top: 6px;"></span>关于爱贷网</h4>
					<ul>
						<li><a href="<%=G_webpcHost%>/help/plat-intro.htm" target="_blank">爱贷网介绍</a></li>
						<li><a href="<%=G_webpcHost%>/help/pro-intro.htm" target="_blank">产品介绍</a></li>
						<li><a href="<%=G_webpcHost%>/help/charge.htm" target="_blank">网站规则</a></li>
						<li><a href="<%=G_webpcHost%>/help/contact.htm" target="_blank">联系我们</a></li>
					</ul>
				</div>
				<div class="help_center f-fl">
					<h4><span class="icon icon-helpCenter" style="position: absolute; display: block; left: 0; top: 3px;"></span>帮助中心</h4>
					<ul>
						<li><a href="<%=G_webpcHost%>/userguide.htm" target="_blank">新手必读</a></li>
						<li><a href="<%=G_webmainHost%>/webpc/help/detail_694.html" target="_blank">注册投资</a></li><!-- 疑问 -->
					</ul>
				</div>
				<div class="secure_protect f-fl">
					<h4><span class="icon icon-securityCenter" style="position: absolute; display: block; left: 0; top: 5px;"></span>安全保障</h4>
					<ul>
						<li><a href="<%=G_webpcHost%>/safe.htm" target="_blank">安全保障</a></li>
						<li><a href="<%=G_webpcHost%>/safe.htm" target="_blank">技术保障</a></li>
						<li><a href="<%=G_webpcHost%>/safe.htm" target="_blank">法律保障</a></li>
					</ul>
				</div>
			</div>
			<div class="aidai_footer_up_right f-fr">
				<p>在线客服（工作时间:9:00-22:00）</p><!-- ${work_hour!} --> 
				<span>400 600 6565</span>
				<p>总部地址:杭州市西湖区华星路96号</p>
				<p>互联网金融大厦11层</p>
				<p style="margin-top:10px;">商务合作：4006006565-3</p>
			</div>
			<div class="aidai_footer_up_center f-fl ofh">
				<div class="tc f-fl" style="margin-right:40px;">
					<img src="https://icdn.cnaidai.com/aidai/webpc/static/img/qrcode/applicai.png" height="120" width="120">
					<p><span style="color:#ff4d4d;">爱贷网理财</span>APP下载</p>
				</div>
				<div class="tc f-fr">
					<img src="<%=G_cdnPath%>/themes/new_aidai/2015/images/jk-app-download.png" height="120" width="120">
					<p><span style="color:#fe6000;">爱贷借款</span>APP下载</p>
				</div>
			</div>
		</div>
		<div class="aidai_footer_down ofh" style="margin-top: 30px;">
			<div class="aidai_footer_down_left pr">
				<p>版权所有:浙江爱贷金融服务外包股份有限公司 Copyright© 2012 - 2017 Cnaidai.com All Rights Reserved ICP证：浙B2-20150424</p>
				<p> 
					<span>工信部备案号：浙ICP备14012075号-1</span> 
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010302000504" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="https://icdn.cnaidai.com/themes/new_aidai/media/images/beian.png" style="float:left;">
					<span style="color:#939393;">浙公网安备 33010302000504号</span>
					</a>
					<span id="counter">
					</span>
					<span>理财有风险，投资需谨慎</span>
				</p>
			</div>
			<ul class="aidai_footer_down_right">
				<li>
				  <a href='https://search.szfw.org/cert/l/CX20140722008863008552' target='_blank' rel="nofollow"> 
				    <img width="124px" height="47px" src="<%=G_cdnPath%>/themes/new_aidai/media/images/footer4.png" />
				  </a>
				</li>
				<!-- 由于域名问题，按券图标无法显示，删除所以删除；但静态化的首页保留  deleted by lws -->
				<li>
				  <a href='http://www.itrust.org.cn/yz/pjwx.asp?wm=1092043197' target='_blank' rel="nofollow"> 
				    <img width="47px" height="47px" src="<%=G_cdnPath%>/themes/new_aidai/media/images/itrust.gif" />
				  </a>
				</li>
				<li>
					<a id="_pingansec_bottomimagelarge_p2p" href="http://si.trustutn.org/info?sn=845161206000549569143&certType=4"><img src="https://icdn.cnaidai.com/aidai/webpc/static/img/p2p_bottom_large_img.jpg" style="width:124px;border-radius:3px;" /></a>
				</li>

				<li>
					<a target="_blank" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=cnaidai.com&lang=zh_cn"><img src="https://icdn.cnaidai.com/aidai/webpc/static/img/cmn/norton.png" style="width:124px; height:47px;border-radius:3px;" /></a>
				</li>
			</ul>
		</div>
	</div>
</div>
