<% include ../cfg/envpath.ejs %>

<!-- 首页nav开始 -->
<div class="aidai_nav">
	<div class="aidai_nav_box pr">
		<div class="aidai_logo f-fl" style="margin-right:15px;">
			<a href="<%=G_webmainHost%>/webpc/index.html"><img src="https://icdn.cnaidai.com/aidai/webpc/static/img/cmn/logo.png" class="vm"></a>
		</div>
		<img src="<%=G_cdnPath%>/themes/new_aidai/2015/images/logo-line.png" height="71" width="2" class="f-fl" style="margin-top:10px;"> 
		<div class="aidai_partner_logo f-fl">
			<a href="<%=G_webpcHost%>/activity/6year_activity.htm" target="_blank"><img src="https://icdn.cnaidai.com/aidai/webpc/static/img/cmn/slogan_icon.png" class="vm"></a>
		</div>
		<ul class="aidai_nav_list f-fr">
			<li class="aidai_nav_list_item"><a href="<%=G_webmainHost%>/webpc/index.html">首页</a></li>
			<li class="aidai_nav_list_item"><a href="<%=G_webpcHost%>/invest/index.htm">我要投资</a>
				<div class="aidai_nav_list_son hide">
					<ul>
						<li><a href="<%=G_webpcHost%>/invest/bidlist.htm?type=youxuan">优选理财</a></li>
						<li><a href="<%=G_webpcHost%>/invest/bidlist.htm?type=jingzhi">净值标</a></li>
					</ul>
				</div>
			</li>
			<!-- <li class="aidai_nav_list_item"><a href="<%=G_webpcHost%>/borrow/loan.htm">我要借款</a></li> -->
			<li class="aidai_nav_list_item"><a href="<%=G_webpcHost%>/safe.htm">安全保障</a></li>
			<li class="aidai_nav_list_item"><a href="<%=G_webpcHost%>/uc/index.htm">我的账户</a></li>
		</ul>
	</div>
</div>
<!-- 首页nav结束 -->
<!-- <script type="text/javascript" src="https://icdn.cnaidai.com/aidai/webpc/static/js/cmn/header_v1.js"></script> -->
