<% include ../../webpc/cfg/envpath.ejs %>

<div class="aidai_header clearfix">
	<div class="aidai_header_box clearfix" style="position: relative;">
		<div class="aidai_header_left f-fl ofh">
			<p>客服热线：<b>400-600-6565</b></p>
			<span>(9:00-22:00)</span>
		</div>
		<div class="aidai_header_right f-fr">
			<a href="<%=G_webpcHost%>/mobile.htm" target="_blank" class="aidai_header_download_app f-fl">app</a>
		</div>
		<div class="m-top-center f-fl">
			<ul class="f-cb">
				<li class="u-cur" style="border-right:none;width:88px;">
					<a href="javascript:;">理财</a>
				</li>
				<li style="width:120px;">
					<a href="http://a.cnaidai.com">理财·借款</a>
				</li>
			</ul>
		</div>
		<div class="aidai_header_nav f-fr">
			<ul class="ofh">
				<!-- <li><a href="<%=G_webmainHost%>/webpc/help/recruiting.html">普慧爱贷</a></li>
				<li><a href="<%=G_webmainHost%>/webpc/help/recruiting.html">爱贷网</a></li> -->
				<% if(user.user&&user.user['userName']) { %>
					<li><a id="username" href="<%=G_webpcHost%>/uc/index.htm"><%=user.user['userName'].substring(0,11)%></a></li>
					<li><a id="logout" class="logoutcookies" href="javascript:;">退出</a></li>
				<% } else { %>
					<li><a id="username" href="<%=G_webpcHost%>/register.htm">注册</a></li>
					<li><a id="logout" href="<%=G_webpcHost%>/login.htm">登录</a></li>
				<% } %>
				<li><a href="<%=G_webpcHost%>/uc/fund/newrecharge.htm">充值</a></li>
				<!-- <li><a href="<%=G_webpcHost%>/help/news.htm?nid=recentnews">帮助中心</a></li> -->
				<li><a href="<%=G_webpcHost%>/help/plat-intro.htm">关于我们</a></li>
				<!-- <li><a href="<%=G_webmainHost%>/webpc/help/recruiting.html">岗位招聘</a></li>
				<li>体验中心</li> -->
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://icdn.cnaidai.com/aidai/webpc/static/js/cmn/cookie.js"></script>
<script type="text/javascript">
	$(".logoutcookies").click(function(){
		cookieMgr.add("pluginId","");
		location.href="<%=G_webpcHost%>/logout.cgi";
	})
</script>